<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Олимпиады</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@200;500&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;800&display=swap" rel="stylesheet"> 
</head>
<body>

        <div class="block">
            <img src="../icons/share.svg" height="50" width="50" class="logo"><p class="logo">lympia<span>d</span></p>
            <header>
                <ul class="list">
                    <li><a href="../index.html">Главная</a></li>
                    <li><a href="">Новости</a></li>
                    <li><a href="">Журнал</a></li>
                    <li><a href="olimpiad/olimp.html">Олимпиады</a></li>
                    <li><a href="">Помощь</a></li>
                </ul>
            </header>
        </div>
        <div class="item">
            <p class="text">Кажется, пора пройти тест. Вперёд?</p>
        </div>
        <div class="item_1">
            <h3>Какое наибольшее количество символов имеет имя файла или каталога в Windows?</h3>
                <p><input type="radio" value="" checked name="gender"/>255</p>
                <p><input type="radio" value="" checked name="gender"/>10</p>
                <p><input type="radio" value="" checked name="gender"/>8</p>
            <h3>Подкаталог SSS входит в каталог YYY. Как называется каталог YYY относительно каталога SSS?</h3>
                <p><input type="radio" value=""/ checked name="tech">корневой</p>
                <p><input type="radio" value=""/ checked name="tech">дочерний</p>
                <p><input type="radio" value=""/ checked name="tech">родительский</p>
            <h3>Куда записываются сведения о формате дискеты?</h3>
                <p><input type="checkbox" name=""/>в FAT</p>
                <p><input type="checkbox" checked name=""/>в boot sector</p>
                <p><input type="checkbox" name=""/>в корневой каталог</p>
        </div>
    <script src=""></script>
</body>
</html>