{% load static %}
<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'style2.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@200;500&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;800&display=swap" rel="stylesheet"> 
</head>
<script>
	//document.getElementById("id_education_place").options.length=0;
	function f(){
	var e = document.getElementById("id_town_name_of_EduPlace");
	var strUser = e.options[e.selectedIndex].value;
	//alert(document.getElementById("id_town_name_of_EduPlace").value);
	var xhr = new XMLHttpRequest();
	var a = document.getElementById("id_town_name_of_EduPlace");
	xhr.open('GET', 'http://localhost:8000/accounts/getEduPlace?town='+a.options[a.selectedIndex].value, false);
	//xhr.responseType = "json";

	//var csrfToken = tryout.getResponseHeader('x-csrf-token');   

  	//xhr.setRequestHeader('x-csrf-token', csrfToken);

	xhr.setRequestHeader('Content-Type', "application/json");
	
	//var valueA = a.options[a.selectedIndex].value;
	//var s = {town :valueA};
	//var data = JSON.stringify({town :valueA});
	//alert(data["town"]);
	//alert(data);
	
	xhr.send('s=s');
	
	if (xhr.status != 200){
	alert('Повторите попытку позже.');
	}
	else{
	
 	data = JSON.parse(xhr.responseText);
	
	document.getElementById("id_education_place").options.length=0;	
	var sel = document.getElementById("id_education_place");
	newOption = new Option('--------', '');
  	//sel.append(newOption);
	for (let j = 0; j < data['EP'].length;j++){
		newOption = new Option( data['EP'][j][1], data['EP'][j][0]);
  		//newOption = new Option( j, j);
		sel.append(newOption);
	}


	}
	}
	
</script>
<body>
        <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/accounts/register" method="POST" >
            <h1>Регистрация</h1>
            <!--<span>Используйте свой адрес электронной почты</span>
            <input type="text" placeholder="ФИО"/>
            <input type="city" placeholder="Город"/>
            <input type="area" placeholder="Область"/>
            <input type="educational" placeholder="Учебное заведение"/>
            <input type="email" placeholder="Email"/>
            <input type="password" placeholder="Пароль"/> --!>
            {% csrf_token %}
	    {{ form2.last_name }}
            {{ form2.username }}
	    {{ form2.email }}
	    пароль (не менее 8 символов)
	    {{ form2.password1 }}
	    {{ form2.password2 }}
	    
	    <div>Город, школа, класс {{ edu.town_name_of_EduPlace }} </div>
	    {{ edu.education_place }} 
	    {{ edu.group }} 
	    
	    <button type="submit">зарегистрироваться</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/accounts/register" method="POST">
            {% if h %}
		Для прохождения теста необходимо войти
		
	    {% endif %}	
		{% csrf_token %}
	    {{ form1.as_p }}
	    <!--<h1>Авторизация</h1>
            <span>Используйте свой аккаунт</span>
            <input type="email" name="login" placeholder="Email"/>
            <input type="password" name="password" placeholder="Пароль"/>
            <a href="#">Забыли свой пароль?</a>--!>
            <button type="submit">Войти</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Добро пожаловать!</h1>
                <button class="ghost" id="signIn">Войти</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Привет!</h1>
                <p>Нет своего аккаунта?</p>
                <button class="ghost" id="signUp">Создать</button>
            </div>
            </div>
        </div>
        </div>


    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>